<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>NA_TORTAH Редактирование пользователя</title>
    <link th:href="@{'/css/index.css'}" rel="stylesheet" type="text/css">
</head>
<body>
<header>

    <div><h1>NA_TORTAH</h1></div>
    <div class="nav_orders">

        <div><a th:href="@{/admin/product/add}" >Добавить товар</a></div>
        <div><a th:href="@{/admin/product/usersList}" >Пользователи</a></div>
        <div><a th:href="@{/admin/product/orderList}" >Заказы</a></div>
        <form method="post" th:action="@{/logout}">
            <input type="submit" value="Выйти из личного кабинета">
        </form>
    </div>


</header>
<h3>Редактирование пользователя</h3>
<form th:method="POST" th:action="@{/admin/product/usersList/editUser/{id}(id=${editUser.getId()})}" th:object="${editUser}">
    <label for="login">Логин: </label>
    <input type="text"  th:field="*{login}" placeholder="Логин" name="login" id="login" readonly>
    <label for="password">Хэш пароля: </label>
    <input type="text"  th:field="*{password}" placeholder="Пароль" name="password" id="password" readonly>


    <label for="role">Выберите роль: </label>
    <select name="role" th:field="*{role}" id="role">
        <div th:each="element : ${role}">
            <option th:text="${element.getName()}" th:value="${element.getId()}"></option>
        </div>
    </select>

    <br>
    <label for="firstname">Как мы можем к Вам обращаться? </label>
    <input type="text"  th:field="*{firstname}" placeholder="Введите имя" name="firstname" id="firstname">
    <div style="color: red" th:if="${#fields.hasErrors('firstname')}" th:errors="*{firstname}"></div>
    <label for="birthdate">Дата рождения: </label>
    <input type="date"  th:field="*{birthdate}" placeholder="Дата рождения" name="birthdate" id="birthdate">
    <div style="color: red" th:if="${#fields.hasErrors('birthdate')}" th:errors="*{birthdate}"></div>
    <br>
    <label for="email">Адрес электронной почты: </label>
    <input type="email"  th:field="*{email}" placeholder="Эл.почта" name="email" id="email">
    <div style="color: red" th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></div>
    <br>
    <label for="phone">Номер телефона: </label>
    <input type="text"  th:field="*{phone}" placeholder="Номер телефона" name="phone" id="phone">
    <div style="color: red" th:if="${#fields.hasErrors('phone')}" th:errors="*{phone}"></div>
    <br>
   <br>
    <br>
    <input type="submit" value="Редактировать">
</form>
</body>

<!--<body>
<h3>Редактирование товара</h3>
<form th:method="POST" th:action="@{/admin/product/edit/{id}(id=${editProduct.getId()})}" th:object="${editProduct}">
    <label for="title">Введите наименование: </label>
    <input type="text" th:field="*{title}" placeholder="Наименование" id="title">
    <div style="color: red" th:if="${#fields.hasErrors('title')}" th:errors="*{title}"></div>
    <br>
    <br>
    <label for="description">Введите описание: </label>
    <textarea th:field="*{description}" placeholder="Описание" id="description"></textarea>
    <div style="color: red" th:if="${#fields.hasErrors('description')}" th:errors="*{description}"></div>
    <br>
    <br>
    <label for="price">Введите цену: </label>
    <input type="number" th:field="*{price}" min="1" step="0.00" id="price">
    <div style="color: red" th:if="${#fields.hasErrors('price')}" th:errors="*{price}"></div>
    <br>
    <br>
    <label for="warehouse">Введите информацию о складе: </label>
    <input type="text" th:field="*{warehouse}" placeholder="Склад" id="warehouse">
    <div style="color: red" th:if="${#fields.hasErrors('warehouse')}" th:errors="*{warehouse}"></div>
    <br>
    <br>
    <label for="category">Выберите категорию товара: </label>
    <select name="category" th:field="*{category}" id="category">
        <div th:each="element : ${category}">
            <option th:text="${element.getName()}" th:value="${element.getId()}"></option>
        </div>
    </select>
    <br>
    <br>
    <label for="seller">Введите данные о продавце: </label>
    <textarea th:field="*{seller}" placeholder="Продавец" id="seller"></textarea>
    <div style="color: red" th:if="${#fields.hasErrors('seller')}" th:errors="*{seller}"></div>
    <br>
    <br>
    <input type="submit" value="Редактировать">
</form>
</body>-->
</html>