<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>NA_TORTAH Список заказов</title>
  <link th:href="@{'/css/index.css'}" rel="stylesheet" type="text/css">
</head>
<body>
<header>

  <div><h1>NA_TORTAH</h1></div>
  <div class="nav_orders">

    <div><a th:href="@{/admin/product/add}" >Добавить товар</a></div>
    <div><a th:href="@{/admin/product/usersList}" >Пользователи</a></div>
    <div><a th:href="@{/admin/product/orderList}" >Заказы</a></div>
    <form method="post" th:action="@{/logout}">
      <input type="submit" value="Выйти из личного кабинета">
    </form>
  </div>


</header>
<form th:method="POST" th:action="@{/admin/orderList/search}">
  <fieldset>
    <legend>Выберите параметры для сортировки, поиска, фильтрации</legend>
    <br>
    <label for="search">Поиск по номеру заказа</label>
    <input type="search" name="search"  th:value="*{value_search}" id="search">
    <br>

    <input type="submit" value="Найти">
  </fieldset>
</form>

<h3>Результат: </h3>
<div th:each="order : ${search_order}">
  <p th:text="'Номер: ' + ${order.getNumber()}"></p>
  <p th:text="'Статус заказа: ' + ${order.getStatus}"></p>

  <p th:text="'Логин пользователя: ' + ${order.getPerson().getLogin()}"></p>
  <p th:text="'Имя пользователя: ' + ${order.getPerson().getFirstname()}"></p>
  <!--  <p th:text="'Состояние: ' + ${person.getStatus()}"></p>-->

  <p th:text="'ID продукта: ' + ${order.getProduct().getTitle()}"></p>
  <p th:text="'Начинка: ' + ${order.getTortFilling().getName()}"></p>
  <p th:text="'Дата отдачи торта покупателю: ' + ${order.getDate}"></p>
  <p th:text="'Цена за 1кг: ' + ${order.getPrice()}"></p>
  <p th:text="'Вес торта: ' + ${order.getCount}"></p>
  <p th:text="'Комментарии заказчика: ' + ${order.comment}"></p>
  <p th:text="'ИТОГО: ' + ${order.getPrice()*order.getCount()}"></p>

  <a th:href="@{/admin/product/orderList/editOrder/{id}(id=${order.getId()})}">Редактировать заказ</a>
  <a th:href="@{/admin/product/orderList/deleteOrder/{id}(id=${order.getId()})}">Удалить заказ</a>
  <hr>
</div>
<hr>
<div>
  <h1>Список заказов</h1>
  <div th:each="order : ${orders}">

    <p th:text="'Номер: ' + ${order.getNumber()}"></p>
    <p th:text="'Статус заказа: ' + ${order.getStatus}"></p>

    <p th:text="'Логин пользователя: ' + ${order.getPerson().getLogin()}"></p>
    <p th:text="'Имя пользователя: ' + ${order.getPerson().getFirstname()}"></p>
    <!--  <p th:text="'Состояние: ' + ${person.getStatus()}"></p>-->

    <p th:text="'ID продукта: ' + ${order.getProduct().getTitle()}"></p>
    <p th:text="'Начинка: ' + ${order.getTortFilling().getName()}"></p>
    <p th:text="'Цена за 1кг: ' + ${order.getPrice()}"></p>
    <p th:text="'Дата отдачи торта покупателю: ' + ${order.getDate}"></p>
    <p th:text="'Вес торта: ' + ${order.getCount}"></p>
    <p th:text="'Комментарии заказчика: ' + ${order.comment}"></p>
    <p th:text="'ИТОГО: ' + ${order.getPrice()*order.getCount()}"></p>

    <a th:href="@{/admin/product/orderList/editOrder/{id}(id=${order.getId()})}">Редактировать заказ</a>
    <a th:href="@{/admin/product/orderList/deleteOrder/{id}(id=${order.getId()})}">Удалить заказ</a>
    <hr>
  </div>
</div>
</body>
</html>