<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>NA_TORTAH Корзина </title>
    <link th:href="@{'/css/index.css'}" rel="stylesheet" type="text/css">
</head>
<body>
<header>

    <div><h1>NA_TORTAH</h1></div>
    <div class="nav">
        <div><a th:href="@{/index}" >На главную</a></div>
        <div><a th:href="@{/cart}" >Корзина</a></div>
        <div><a th:href="@{/orders}" >Заказы</a></div>
        <form method="post" th:action="@{/logout}">
            <input type="submit" value="Выйти из личного кабинета">
        </form>
    </div>


</header>
<h3>Корзина товаров</h3>
<form th:method="POST" th:action="@{/cart}" th:object="${cartList}">
<!--<div th:each="product : ${cart_product}">-->
  <!--  <div th:each="cart : ${cartList}" >
        <p th:text="'Наименование: ' "></p>
        <p th:text="'Цена за 1кг: '"></p>
        <p th:text="'Начинка: ' + ${cart.getTortFilling().getName()}"></p>
        <p th:text="'Вес: ' + ${cart.getQty()}"></p>
        <p th:text="'Дата отдачи заказа: ' + ${cart.getDate()}"></p>
        <p th:text="'Комментарий:'+${cart.getComment()}" ></p>
        <br>
        <a th:href="@{/cart/editCart/{id}(id=${cart.getId()})}">Редактировать</a>

        <a th:href="@{/cart/delete/{id}(id=${cart.getId()})}">Удалить</a>

    <br>
    <br>
</div>-->

        <div th:each="storage : ${storageList}" >
              <p th:text="'Наименование: ' + ${storage.get(1).getTitle()}" ></p>

              <p th:text="'Цена за 1кг: ' + ${storage.get(1).getPrice()}"></p>
              <p th:text="'Начинка: ' + ${storage.get(0).getTortFilling().getName()}"></p>
              <p th:text="'Вес: ' + ${storage.get(0).getQty()}"></p>
              <p th:text="'Дата отдачи заказа: ' + ${storage.get(0).getDate()}"></p>
              <p th:text="'Комментарий:'+${storage.get(0).getComment()}" ></p>
              <br>
              <a th:href="@{/cart/editCart/{id}(id=${storage.get(0).getId()})}">Редактировать</a>

              <a th:href="@{/cart/delete/{id}(id=${storage.get(0).getId()})}">Удалить</a>

          <br>
          <br>
      </div>
      <h3 th:text="'Итоговая цена: ' + ${price}"></h3>
      <a href="/order/create">Оформить заказ</a>
      </form>
      </body>
      </html>