<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>NA_TORTAH Редактирование корзины</title>
  <link th:href="@{'/css/index.css'}" rel="stylesheet" type="text/css">
</head>
<body>
<header>
<div><h1>NA_TORTAH</h1></div>
<div class="nav">
  <div><a th:href="@{/index}" >На главную</a></div>
  <div><a th:href="@{/cart}" >Корзина</a></div>
  <div><a th:href="@{/orders}" >Заказы</a></div>
  <form method="post" th:action="@{/logout}">
    <input type="submit" value="Выйти из личного кабинета">
  </form>
</div>
</header>
<h3>Редактирование товара в корзине</h3>
<form th:method="POST" th:action="@{/cart/editCart/{id}(id=${editCart.getId()})}" th:object="${editCart}">
  <input type="number" th:field="*{personId}" min="1" step="1" id="personId">
  <input type="number" th:field="*{productId}" min="1" step="0.00" id="productId">

  <input type="number" th:field="*{qty}" min="1" step="0.00" id="qty">
  <div style="color: red" th:if="${#fields.hasErrors('qty')}" th:errors="*{qty}"></div>
  <br>
  <input type="date"  th:field="*{date}" placeholder="Дата отдачи торта" name="date" id="date">
  <div style="color: red" th:if="${#fields.hasErrors('date')}" th:errors="*{date}"></div>

  <br>

  <label for="tortFilling">Выберите начинку: </label>
  <select name="tortFilling" th:field="*{tortFilling}" id="tortFilling">
    <div th:each="element : ${tortFilling}">
      <option th:text="${element.getName()}" th:value="${element.getId()}"></option>
    </div>
  </select>

  <br>
  <label for="comment">Введите комментарии: </label>
  <textarea th:field="*{comment}" placeholder="Комментарий" id="comment"></textarea>
  <div style="color: red" th:if="${#fields.hasErrors('comment')}" th:errors="*{comment}"></div>
  <br>
  <!--  <label for="seller">Введите данные о продавце: </label>
    <textarea th:field="*{seller}" placeholder="Продавец" id="seller"></textarea>
    <div style="color: red" th:if="${#fields.hasErrors('seller')}" th:errors="*{seller}"></div>-->
  <br>
  <br>
  <input type="submit" value="Сохранить изменения">
</form>
</body>
</html>