<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">

    <link th:href="@{'/css/login.css'}" rel="stylesheet" type="text/css">
    <title>NA_TORTAH Торт на заказ во Владимире/АВТОРИЗАЦИЯ</title>
    <link th:href="@{'/icon/icon.png'}" rel="icon" >
</head>
<body   > <!--<body th:style="'background-image:url(' + @{/images/background.jpg} + '); background-repeat: no-repeat, repeat; background-size: cover;'">
    </body>
    <body th:style="'background: url(/img/la-paz-city.jpg) no-repeat center center fixed;'">
    -->


<!--<img th:src="@{'/icon/background.jpg'}" alt="фоновая"/>-->
<section id="forma">
<form method="post" action="/process_login">
    <h3>Вход</h3>
    <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}">
    <label for="username">Введите логин: </label>
    <input type="text" placeholder="Введите пароль" name="username" id="username">
    <br>
    <label for="password">Введите пароль: </label>
    <input type="password" placeholder="Введите пароль" name="password" id="password">
    <br>
    <input type="submit" value="Войти">
    <div th:if="${param.error}" style="color: red">
        Неправильный логин или пароль

    </div>
    <a href="/auth/registration">Регистрация</a>
</form>
</section>

</body>
</html>